
<h1>Listing articles</h1>
 

<%= link_to 'Create a new Article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="5"></th>
  </tr>
 
  <% @articles.each do |article| %>

    
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate article.text, length:30 %>
              <%= link_to 'read more', article_path(article) %> </td>
      <td><%= link_to 'Read  |  ', article_path(article) %></td> 
      <td><%= link_to 'Update  |  ', edit_article_path(article) %></td> 
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>